<div class="container">
    <h1>Mis solicitudes</h1>
    <mat-tab-group color="warn">
        <mat-tab label="Mis solicitudes">
            <mat-toolbar style="background-color: white; margin: 50px 0;">
                <mat-toolbar-row>
                    <form style="font-size: 14px;" [formGroup]="search1FormGroup">
                        <mat-form-field appearance="outline" color="warn" style="width:100%">
                            <mat-label>Buscar</mat-label>
                            <input matInput placeholder="Buscar" (keyup.enter)="searching($event.target.value)"
                                formControlName="search1">
                            <mat-icon matSuffix>search</mat-icon>

                        </mat-form-field>
                        <mat-form-field appearance="outline" color="warn" style="margin-left: 15px;">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status1">
                                <mat-option value="any" (click)="selectState()">Todos</mat-option>
                                <mat-option value="Abierto" (click)="selectState()">Abierto</mat-option>
                                <mat-option value="Resuelto" (click)="selectState()">Resuelto</mat-option>
                                <mat-option value="Esperando respuesta" (click)="selectState()">Esperando respuesta
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                </mat-toolbar-row>
            </mat-toolbar>
            <div *ngIf="requests$|async as list">
                <div *ngIf="dataSource.data.length ; else nothing ">
                    <table mat-table [dataSource]="dataSource" [hidden]="!list.length" style="width: 100%;">
                        <ng-container matColumnDef="subject">
                            <th style="text-align:center" mat-header-cell *matHeaderCellDef> Asunto </th>
                            <td mat-cell *matCellDef="let element">
                                <a class="title-list" [routerLink]="['/request',element.id]">{{element.subject}}</a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="id">
                            <th style="text-align:center" mat-header-cell *matHeaderCellDef> Id </th>
                            <td style="text-align:center" mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="created">
                            <th style="text-align:center" mat-header-cell *matHeaderCellDef> Creado </th>
                            <td style="text-align:center" mat-cell *matCellDef="let element">
                                {{element['regDate'].toMillis() | timeAgo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="lastactivity">
                            <th style="text-align:center" mat-header-cell *matHeaderCellDef> Última Actividad </th>
                            <td style="text-align:center" mat-cell *matCellDef="let element">
                                {{element['lastActivity'].toMillis() | timeAgo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th style="text-align:center" mat-header-cell *matHeaderCellDef> Estado </th>
                            <td style="text-align:center" mat-cell *matCellDef="let element">
                                <span class="status-label"> {{element.status}}</span> </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSize]="[4]" showFirstLastButtons>
                    </mat-paginator>
                </div>
                <ng-template #nothing>
                    <div style="text-align: center; font-size: large;">No se encontró ninguna solicitud</div>
                </ng-template>
            </div>
        </mat-tab>
        <mat-tab label="Solicitudes en que participo">
            <mat-toolbar style="background-color: white; margin: 50px 0;">
                <mat-toolbar-row>
                    <form style="font-size: 14px;" [formGroup]="search2FormGroup">
                        <mat-form-field appearance="outline" color="warn" style="width:100%">
                            <mat-label>Buscar</mat-label>
                            <input matInput placeholder="Buscar" formControlName="search2"
                                (keyup.enter)="searching2($event.target.value)">
                            <mat-icon matSuffix>search</mat-icon>

                        </mat-form-field>
                        <mat-form-field appearance="outline" color="warn" style="margin-left: 15px;">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status2">
                                <mat-option value="Todos" (click)="selectState2()">Todos</mat-option>
                                <mat-option value="Abierto" (click)="selectState2()">Abierto</mat-option>
                                <mat-option value="Resuelto" (click)="selectState2()">Resuelto</mat-option>
                                <mat-option value="Esperando respuesta" (click)="selectState2()">Esperando respuesta
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                </mat-toolbar-row>
            </mat-toolbar>
            <div *ngIf="requestOn$|async as list">
                <div *ngIf="dataSource2.data.length; else empty">
                    <table mat-table [dataSource]="dataSource2" [hidden]="!list.length" style="width: 100%;">
                        <ng-container matColumnDef="subject">
                            <th style="text-align:center" mat-header-cell *matHeaderCellDef> Asunto </th>
                            <td mat-cell *matCellDef="let element">
                                <a class="title-list" [routerLink]="['/request',element.id]">{{element.subject}}</a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="id">
                            <th style="text-align:center" mat-header-cell *matHeaderCellDef> Id </th>
                            <td style="text-align:center" mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="created">
                            <th style="text-align:center" mat-header-cell *matHeaderCellDef> Creado </th>
                            <td style="text-align:center" mat-cell *matCellDef="let element">
                                {{element['regDate'].toMillis() | timeAgo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="lastactivity">
                            <th style="text-align:center" mat-header-cell *matHeaderCellDef> Última Actividad </th>
                            <td style="text-align:center" mat-cell *matCellDef="let element">
                                {{element['lastActivity'].toMillis() | timeAgo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th style="text-align:center" mat-header-cell *matHeaderCellDef> Estado </th>
                            <td style="text-align:center" mat-cell *matCellDef="let element">
                                <span class="status-label"> {{element.status}}</span> </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSize]="[4]" showFirstLastButtons>
                    </mat-paginator>
                </div>
                <ng-template #empty>
                    <div style="text-align: center; font-size: large;">No se encontró ninguna solicitud</div>
                </ng-template>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>