<div class="container" style="margin-top: 50px;">
    <div style="margin-bottom: 30px;">
        <h3 class="title">Influencia del Loctite (Retaining Compound) en Interferencia Cubo Eje.</h3>
    </div>
    <div class="request-container">
        <div class="comments request-main">
            <mat-divider></mat-divider>
            <div class="respond-box">
                <h4>Respuesta</h4>
                <form>
                    <mat-form-field style="width: 100%" appearance="outline">
                        <mat-label>Respuesta</mat-label>
                        <textarea matInput placeholder="Descripción" cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"
                            #autosize="cdkTextareaAutosize"></textarea>
                    </mat-form-field>
                </form>
                <button >Enviar</button>
            </div>
            <div class="comment">
                <div class="comment-author">
                    <div class="avatar comment-avatar">
                        <img src="https://support.esss.co/system/photos/0001/1413/1747/profile_image_716022603_346703.jpg"
                            alt="" class="user-avatar">
                    </div>
                    <div style="margin-left: 20px;">
                        <span>Miguel Mauriola</span><br>
                        <span class="comment-time">4 years ago</span>
                    </div>
                </div>
                <div>
                    <div class="zd-comment" dir="auto">
                        Buenas tardes Miguel,<br><br>En el caso de uniones pegadas, esto
                        dependerá de qué tipo de unión forma el cubo con el eje. Si se tratase de una unión roscada a la
                        que se le agrega el loctite, la influencia será alta, debido a que el torque de cierre
                        transmitido depende del estado de las superficies de contacto. En general, el propio pegamento
                        en estado líquido hace de lubricante y el torque transmitido es mayor, y cuando se seca mantiene
                        ésta precarga de cierre.&nbsp;Si se trata de otro tipo de unión, deberíamos ver más en detalle
                        de qué tipo de unión se trata. en éste caso necesitaría que me adjunte algún croquis o imagen
                        esquemática del tipo de unión en cuestión.<br><br><br>Un saludo
                        <!--
                        <div class="signature">
                            <p dir="auto">ESSS Support Team<br>
                                <a href="http://esss.com.br/ensino.php" rel="noreferrer">ESSS 2016 Training</a><br>
                                <a href="http://esss.com.br/ensino_treinamentos_programacao_completa.php"
                                    rel="noreferrer">ESSS 2016 Training Agenda</a></p>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="comment-author">
                    <div class="avatar comment-avatar">
                        <img src="https://support.esss.co/system/photos/0001/1413/1747/profile_image_716022603_346703.jpg"
                            alt="" class="user-avatar">
                    </div>
                    <div style="margin-left: 20px;">
                        <span>Miguel Mauriola</span><br>
                        <span class="comment-time">4 years ago</span>
                    </div>
                </div>
                <div>
                    <div class="zd-comment" dir="auto">
                        Buenas tardes Miguel,<br><br>En el caso de uniones pegadas, esto
                        dependerá de qué tipo de unión forma el cubo con el eje. Si se tratase de una unión roscada a la
                        que se le agrega el loctite, la influencia será alta, debido a que el torque de cierre
                        transmitido depende del estado de las superficies de contacto. En general, el propio pegamento
                        en estado líquido hace de lubricante y el torque transmitido es mayor, y cuando se seca mantiene
                        ésta precarga de cierre.&nbsp;Si se trata de otro tipo de unión, deberíamos ver más en detalle
                        de qué tipo de unión se trata. en éste caso necesitaría que me adjunte algún croquis o imagen
                        esquemática del tipo de unión en cuestión.<br><br><br>Un saludo
                        <!--
                            <div class="signature">
                                <p dir="auto">ESSS Support Team<br>
                                    <a href="http://esss.com.br/ensino.php" rel="noreferrer">ESSS 2016 Training</a><br>
                                    <a href="http://esss.com.br/ensino_treinamentos_programacao_completa.php"
                                        rel="noreferrer">ESSS 2016 Training Agenda</a></p>
                            </div>-->
                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="comment-author">
                    <div class="avatar comment-avatar">
                        <img src="https://support.esss.co/system/photos/0001/1413/1747/profile_image_716022603_346703.jpg"
                            alt="" class="user-avatar">
                    </div>
                    <div style="margin-left: 20px;">
                        <span>Miguel Mauriola</span><br>
                        <span class="comment-time">4 years ago</span>
                    </div>
                </div>
                <div>
                    <div class="zd-comment" dir="auto">
                        Buenas tardes Miguel,<br><br>En el caso de uniones pegadas, esto
                        dependerá de qué tipo de unión forma el cubo con el eje. Si se tratase de una unión roscada a la
                        que se le agrega el loctite, la influencia será alta, debido a que el torque de cierre
                        transmitido depende del estado de las superficies de contacto. En general, el propio pegamento
                        en estado líquido hace de lubricante y el torque transmitido es mayor, y cuando se seca mantiene
                        ésta precarga de cierre.&nbsp;Si se trata de otro tipo de unión, deberíamos ver más en detalle
                        de qué tipo de unión se trata. en éste caso necesitaría que me adjunte algún croquis o imagen
                        esquemática del tipo de unión en cuestión.<br><br><br>Un saludo
                        <!--
                                <div class="signature">
                                    <p dir="auto">ESSS Support Team<br>
                                        <a href="http://esss.com.br/ensino.php" rel="noreferrer">ESSS 2016 Training</a><br>
                                        <a href="http://esss.com.br/ensino_treinamentos_programacao_completa.php"
                                            rel="noreferrer">ESSS 2016 Training Agenda</a></p>
                                </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="info request-sidebar">

            <div class="request-details">
                <div class="dt">Requester</div>
                <div class="dd">Miguel Mauriola</div>

                <div class="dt">Created</div>
                <div class="dd"><time datetime="2016-04-13T16:12:42+00:00" title="2016-04-13 11:12"
                        data-datetime="calendar">April
                        13, 2016 11:12</time></div>

                <div class="dt">Last activity</div>
                <div class="dd"><time datetime="2016-06-30T15:03:45+00:00" title="2016-06-30 10:03"
                        data-datetime="calendar">June
                        30, 2016 10:03</time></div>


            </div>
            <div class="request-details">
                <div class="dt">Assigned to</div>
                <div class="dd">
                    Jose Antonio Santelli
                </div>
                <div class="dt">Id</div>
                <div class="dd">#5090</div>
                <div class="dt">Status</div>
                <div class="dd">
                    <div class="status-label status-label-solved" title="This request has been solved">
                        Solved
                    </div>
                </div>
                <div class="dt">Problem Category</div>
                <div class="dd">
                    Outros
                </div>

            </div>
        </div>
    </div>
</div>