<div style="min-height: 100vh; position: relative;">
    <mat-toolbar style="padding: 0 5%; background-color: white; border-bottom: 1px solid rgb(216, 215, 215);">
        <mat-toolbar-row style="padding: 0 ">
            <div routerLink="" style="color: #2b2b2b; cursor: pointer;">
                Intelligent Partner
            </div>
            <span style="flex: 1 1 auto;"></span>

            <button *ngIf="auth.user$ | async as user; else icon" class="sign-button" mat-button
                [matMenuTriggerFor]="menu">
                <mat-icon style="margin-right: 6px; color: silver;">account_circle</mat-icon>
                <span>{{user.displayName}}</span>
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/requests">Mi actividad</button>
                <button mat-menu-item routerLink="/new_request" fxShow="true" fxHide.gt-sm>Nueva Solicitud</button>
                <button mat-menu-item>Cambiar contraseña</button>
                <button mat-menu-item (click)="auth.signOut()">Salir</button>
            </mat-menu>
            <ng-template #icon>
                <button class="sign-button" mat-button color="warn" (click)="login()">Sign in</button>
            </ng-template>

            <div fxShow="true" fxHide.lt-md="true">
                <button *ngIf="auth.user$ | async as user; else other" class="button-large" mat-flat-button color="warn"
                    routerLink="/new_request">Nueva Solicitud</button>
                <ng-template #other>
                    <button class="button-large" mat-flat-button color="warn" (click)="login()">Nueva Solicitud</button>
                </ng-template>
            </div>

        </mat-toolbar-row>
    </mat-toolbar>
    <ng-template #loader>
        <div style="height: 90vh;" class="w3-display-container">
            <div class="lds-ring w3-display-middle">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-template>
    <div *ngIf="dbs.users$ | async; else loader">
        <router-outlet></router-outlet>

        <footer class="footer">
            <div class="footer-inner">
                <a title="Home" routerLink="">Home</a>
                <a title="Contenido" href="">Contenido Técnico</a>
                <a title="Contacto">Contacto</a>

                <div class="footer-language-selector">

                </div>
            </div>
        </footer>
    </div>
</div>