<mat-toolbar style="padding: 0 4%; background-color: white; border-bottom: 1px solid rgb(216, 215, 215);">
    <mat-toolbar-row>
        <mat-icon aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
        <span style="flex: 1 1 auto;"></span>

        <button *ngIf="auth.user$ | async as user; else icon" class="sign-button" mat-button [matMenuTriggerFor]="menu">
            <mat-icon style="margin-right: 6px; color: silver;">account_circle</mat-icon>
            <span>{{user.displayName}}</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/requests">Mis actividades</button>
            <button mat-menu-item>Cambiar contraseña</button>
            <button mat-menu-item (click)="auth.signOut()">Salir</button>
        </mat-menu>
        <ng-template #icon>
            <button class="sign-button" mat-button color="warn" (click)="login()">Sign in</button>
        </ng-template>

        <button class="button-large" mat-flat-button color="warn" routerLink="/new_request">Submit a request</button>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<footer class="footer">
    <div class="footer-inner">
      <a title="Home" href="https://www.esss.co/">Home</a>
      <a title="Home" href="https://www.esss.co/iesss/">Education</a>
      <a title="Home" href="/hc/en-us">Technical Content</a>
      <a title="Home" href="https://www.esss.co/empresa/">Company</a>
      <a title="Home" href="https://www.esss.co/contato/">contact</a>
      
      <div class="footer-language-selector">
        
      </div>
    </div>
  </footer>