<div class="hero">
    <div class="hero-inner">
        <h1>ESSS help center</h1>
        <h4>Find articles that can solve your issue:</h4>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <!--
      <form role="search" class="search search-full" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
        <input type="search" name="query" id="query" placeholder="Search" autocomplete="off" aria-label="Search">
    </form>-->
    </div>
</div>
<section class="section knowledge-base">
    <h2 style="margin-bottom: 2rem;">Find articles by Software</h2>
    <div class="container">
        <div class="products-list">
            <div class="product-item">
                <a href="https://support.esss.co/hc/en-us/categories/360001702031-ALFAsim">
                    <img class="product-icon"
                        src="https://storage.googleapis.com/mkt.esss.co/zendesk/esss-menu-alfasim.svg" alt="">
                    <h3>ALFAsim</h3>
                    <p>ESSS’s proprietary software, ALFAsim, is an evolution of artificial lift and flow assurance
                        simulators.</p>
                </a>
            </div>
            <div class="product-item">
                <a href="https://support.esss.co/hc/en-us/categories/200837733-Kraken">
                    <img class="product-icon"
                        src="https://storage.googleapis.com/mkt.esss.co/zendesk/esss-menu-kraken.svg" alt="">
                    <h3>Kraken</h3>
                    <p>A reservoir data management tool with powerful features of a reservoir simulation post-processor.
                    </p>
                </a>
            </div>
            <div class="product-item">
                <a href="https://support.esss.co/hc/en-us/categories/200408055-ANSYS">
                    <img class="product-icon"
                        src="https://storage.googleapis.com/mkt.esss.co/zendesk/esss-menu-ansys.svg" alt="">
                    <h3>ANSYS</h3>
                    <p>The global leader in engineering simulation, helping companies to deliver the best products.</p>
                </a>
            </div>
            <div class="product-item">
                <a href="https://support.esss.co/hc/en-us/categories/200408075-modeFrontier">
                    <img class="product-icon"
                        src="https://storage.googleapis.com/mkt.esss.co/zendesk/esss-menu-modefontier.svg" alt="">
                    <h3>modeFrontier</h3>
                    <p>Integration, optimization and post-processing to achieve results faster and with greater
                        reliability.</p>
                </a>
            </div>
            <div class="product-item">
                <a href="https://support.esss.co/hc/en-us/categories/200408065-ESSS">
                    <img class="product-icon"
                        src="https://storage.googleapis.com/mkt.esss.co/zendesk/esss-menu-esss.svg" alt="">
                    <h3>ESSS</h3>
                    <p>We stablish a link between scientific knowledge and the application of such knowledge to
                        industry.</p>
                </a>
            </div>
            <div class="product-item">
                <a href="https://support.esss.co/hc/en-us/categories/115000554226-ROCKY">
                    <img class="product-icon"
                        src="https://storage.googleapis.com/mkt.esss.co/zendesk/esss-menu-rocky.svg" alt="">
                    <h3>Rocky</h3>
                    <p>Simulate the behavior of particles of different shapes and sizes with speed and precision.</p>
                </a>
            </div>
        </div>
    </div>
</section>